:root {
  --dark-cyan-bg-color: hsl(179, 100%, 13%);
  --light-gray: hsl(0, 0%, 95%);
  --body-font-size: 15px;
}

body {
  background-color: var(--light-gray);
}

#main {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  margin: 5rem auto;
  padding-bottom: 4rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-areas:
    "one one two"
    "one one two"
    "three four four"
    "three five five";
}
.item {
  /* width: 350px; */
  height: 280px;
  align-items: stretch;
}
.one {
  background-color: rgb(194, 28, 28);
  grid-area: one;
  width: 35em;
}

.two {
  background-color: hsl(52, 84%, 17%);
  grid-area: two;
  width: 23em;
}

.three {
  background-color: hsl(52, 84%, 17%);
  grid-area: three;
  width: 25em;
}

.four {
  background-color: hsl(325, 81%, 11%);
  grid-area: four;
  width: 33em;
  height: 125px;
}

.five {
  background-color: hsl(325, 81%, 11%);
  grid-area: five;
  width: 33em;
  height: 141px;
}

.btn {
  text-decoration: none;
  font-size: var(--body-font-size);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--light-gray);
  padding: 0.7rem 1.6rem;
  background-color: var(--dark-cyan-bg-color);
  margin-left: auto;
  cursor: pointer;
}

.btn:hover {
  color: #e3dcdcd5;
}
@media (max-width: 500px) {
  .container {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
  .item {
    width: 280px;
    height: 280px;
    align-items: stretch;
  }
}
