@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --dark-cyan-bg-color: hsla(186, 73%, 15%, 0.767);
  --dark-yellow-bg-color: hsl(52, 84%, 17%);
  --dark-pink-cyan-bg-color: hsl(325, 81%, 11%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  --body-font-size: 15px;
}

body {
  background-color: var(--light-gray);
}

#main {
  height: 100vh;
  width: 100%;
}

.container {
  width: 60%;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  color: var(--transparent-white);
  padding: 2rem 1.5rem 4rem;
}
.item h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}
.item p {
  font-size: var(--body-font-size);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 4.5rem;
  line-height: 1.5em;
}

.sedans {
  background-color: var(--dark-cyan-bg-color);
}
.suvs {
  background-color: var(--dark-yellow-bg-color);
}
.luxury {
  background-color: var(--dark-pink-cyan-bg-color);
}

.learn-more {
  border-radius: 30px;
  padding: 0.7rem 1.6rem;
  background-color: var(--light-gray);
  text-decoration: none;
  font-size: var(--body-font-size);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  font-size: var(--body-font-size);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--light-gray);
  padding: 0.7rem 1.6rem;
  background-color: hsl(179, 100%, 13%);
  margin-left: auto;
  cursor: pointer;
}
.btn:hover {
  color: #e3dcdcd5;
}
@media (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }

  .luxury {
    grid-column: span 2;
    margin-bottom: 2rem;
  }
  .luxury p {
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .container {
    display: block;
  }
  .item p {
    margin-bottom: 4.5rem;
  }
}
